@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Favorit;
    src: url(../../fonts/Favorit/FavoritC.ttf);
  }
  @font-face {
    font-family: FavoritLight;
    src: url(../../fonts/Favorit/FavoritLightC.ttf);
  }
}
